@use 'mixins';

@font-face {
    font-family: "Almond Cookies";
    src: url("../fonts/Almond Cookies.ttf") format("ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include mixins.size(100%, 100%);
    color: #d8e3d3;
    background-color: #092523;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    @include mixins.size(100vh, 100vw);
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sky {
    @include mixins.layer('../img/1.png', -525px, 2.75, 1);
}

.mountains {
    @include mixins.layer('../img/2.png', -400px, 2.33333333, 2);
}

.trees2 {
    @include mixins.layer('../img/3.png', -250px, 1.833333333, 3);
}

.trees1 {
    @include mixins.layer('../img/4.png', -0, 1, 5);
}

.debut {
    background: #092523;
    transform: translateZ(0) scale(1);
    z-index: 8;
    margin: 0;
    padding: 100px 0 0 0;
    
    section {
        height: 500px;
    }

    .footer {
        border-top: 1px solid #d8e3d3;
        padding: 10px;
        text-align: right;
    }
}
