@use "base";
@use "layout";
@use "abstracts";
@use "components";

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    @include abstracts.size(100vh, 1fr);
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sky {
    @include abstracts.layer('img/1.png', -525px, 2.75, 1);
}
.mountains {
    @include abstracts.layer('img/2.png', -400px, 2.33333333, 2);
}
.trees2 {
    @include abstracts.layer('img/3.png', -250px, 1.833333333, 3);
}
.trees1 {
    @include abstracts.layer('img/4.png', -0, 1, 5);
}

.debut {
    background: #092523;
    transform: translateZ(0) scale(1);
    z-index: 8;
    margin: 0;
    padding: 100px 0 0 0;
    display: grid;
    grid-template-columns: 15fr 1fr;
    grid-template-areas: "tout   fix"
                         "footer  footer";

    @include abstracts.breakpoint() {
        grid-template-columns: 15fr 1fr;
        grid-template-areas: "contact   contact"
                             "tout      tout"
                             "footer    footer";
    }
    
    .titre {
        font-size: 30px;
        background-color: #0f4237;
        color: #5b896d;
        display: flex;
        align-items: center;
        justify-content: right;
        max-width: 500px;
        padding: 0px 30px;
        border-radius: 0 10px 50px 0;
        letter-spacing:10px;
        font-family: 'Kaushan Script', sans-serif;

        @include abstracts.breakpoint() {
            max-width: 350px;
        }
    }

    .tout {
        grid-area: tout;
        scroll-behavior: smooth;
        grid-template-rows: auto auto auto;
        grid-template-areas: "me"
                             "skills"
                             "projects";
        gap: 20px;
        @include abstracts.breakpoint() {
            grid-area: tout;
        }

        .autre {
            margin-top: 50px;
        }
    
    }

}
  
.name {
    position: absolute;
    left: 40px;
    top: 40px;
      
    .glowIn {
        height: auto;
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-weight: 400;
        font-size: 5.5rem;
        font-family: 'Kaushan Script', sans-serif;
        text-align: center;
        animation: glow 1s ease-in-out infinite alternate;
        }

        @-webkit-keyframes glow {
            from {
                text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
            }
            
            to {
                text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
            }
        }

        @include abstracts.breakpoint() {
            font-size: 3.5rem;
        }
}