@use "../abstracts";

.debut {

    .menu {
        grid-area: fix;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include abstracts.breakpoint() {
            grid-area: contact;
            grid-area: unset;
            display: flex;
            flex-direction: column-reverse;
            gap: 50px;
        }
        
        .section{
            position: sticky;
            top: 15%;
            text-align: end;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            
            @include abstracts.breakpoint() {
                grid-area: unset;
                top: 20px;
                right: 20px;
                display: flex;
                justify-content: space-around;
            }

            .dot {
                color: #d8e3d3;
                text-decoration: none;

                @include abstracts.breakpoint() {
                    text-align: center;
                }

                &:hover {
                    color: #092523;
                }

                .dots {
                    min-height: 20px;
                    min-width: 130px;
                    padding: 5px;

                    @include abstracts.breakpoint() {
                        min-width: 200px;
                    }
                    
                    &:hover {
                        background-color: #a9c8a4;
                        border-radius: 30px;
                        font-weight: bolder;
                        transition: 0.2s ease-in-out;
                    }
                }
            }
        }
        
        .contact {
            position: sticky;
            top: 35%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 1ch;

            @include abstracts.breakpoint() {
                flex-direction: row;
                display: flex;
                justify-content: space-around;
                position: relative;
            }
            

            img {
                @include abstracts.size(50px, 50px);
                border-radius: 50%;

                &:hover {
                    box-shadow: 0px 0px 15px #fff;
                    @include abstracts.size(60px, 60px);
                }
            }            
        }

    }
}