@use "../abstracts";

.debut {

    .menu {
        grid-area: fix;
        padding: 15px;
        display: flex;
        flex-direction: column;

        @include abstracts.breakpoint() {
            grid-area: unset;
            display: flex;
        }
        
        .section{
            position: sticky;
            top: 15%;
            text-align: end;
            
            @include abstracts.breakpoint() {
                grid-area: unset;
                position: fixed;
                top: 20px;
                right: 20px;
            }

            .dot {
                color: #d8e3d3;
                text-decoration: none;

                &:hover {
                    color: #092523;
                }

                .dots {
                    min-height: 20px;
                     min-width: 125px;
                        
                    &:hover {
                        background-color: #a9c8a4;
                        border-radius: 30px;
                        font-size: large;
                    }
                }
            }
        }
        
        .contact {
            position: sticky;
            top: 35%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 1ch;

            @include abstracts.breakpoint() {
                grid-area: contact;
                flex-direction: row;
                display: flex;
                justify-content: space-around;
            }
            

            img {
                @include abstracts.size(50px, 50px);
                border-radius: 50%;

                &:hover {
                    box-shadow: 0px 0px 15px #fff;
                    @include abstracts.size(60px, 60px);
                }
            }            
        }

    }
}