@use "../abstracts";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan Script&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include abstracts.size(100%, 100%);
    color: #d8e3d3;
    background-color: #092523;
    font-family: 'Quicksand', sans-serif;
}