@use "../abstracts";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include abstracts.size(100%, 100%);
    color: #d8e3d3;
    background-color: #092523;
    font-family: "Montserrat";
}

@font-face {
    font-family: "DK Millefeuille";
    font-family: "Montserrat";
    font-family: "Doggie";
    src: url("../../fonts/DK\ Millefeuille.otf") format("otf");
    src: url("../../fonts/Montserrat-Regular.ttf") format("ttf");
    src: url("../../fonts/Doggie.ttf") format("ttf");
}